html, body { height: 100%; }

h1 { font-size: 1.6rem; margin-bottom: 1rem;margin-top:1rem;}
h3 { margin-top:1rem; }
.navbar {
  min-height: 60px;
  z-index: 3;
  background-color: #22528e;
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
      padding-top:0.5rem;
      padding-right: 1.8rem;
      padding-left: 1.8rem;
      font-size: 0.8rem;
      color: #EEEEEE !important;
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav {
    margin-left:11rem;
  }
}

#wrapper {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
}


#map {
  width: 100%;
  height: 100%;
}

.indev {padding: 1rem;}


/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

#sidebar {
    min-width: 370px;
    max-width: 370px;
    background: #FFF;
    border-right: 3px solid #22528e;
    color: #000;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -370px;
}

#sidebarCollapse {
  position: absolute;
  top: 160px;
  cursor: pointer;
  background-color: #22528e;
  border-radius: 0;
  z-index: 5;
}

.adjuster {
  display: table;
  width: 100%;
  padding: 1rem 1rem;
  transition: 0.3s;
}

.adjuster.focused, .adjuster:hover {
  background-color: #22528e;
  color: #FFFFFF;
}

.adjuster .photo { display: table-cell; width: 100px; vertical-align: top}
.adjuster .photo img { width: 100%; }
.adjuster .details { display: table-cell; padding-left:0.7rem; }
.adjuster .details .name {margin-bottom: 0.2rem;}
.adjuster .details .email,.phone,.claims { font-size:0.8rem; opacity:0.7; padding-bottom:5px;margin: 0}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -370px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/* ---------------------------------------------------
    ADJUSTERS
----------------------------------------------------- */

.adjuster-profile {
  margin-top:1rem;
}
.adjuster-profile .photo {
  float: left;
  width: 100px;
  vertical-align: top;
  margin-right: 1rem;
}

.adjuster-profile .details {
  float: left;
}
.adjuster-profile .details .name {
  font-weight: bold;
}
.adjuster-profile .details .phone, .adjuster-profile .details .email {
  font-size:0.8rem;

}

#create_adjuster_btn {
  margin-top:-5px;
  margin-left: 10px;
}

.smfield {
  padding-right: 1rem;
  padding-left: 0;
}

#new_field_btn {
  margin-top: 1rem;
}

.field_fields {
  margin-top: 1rem;
  padding-bottom: 1.2rem;
  border-bottom: 2px dashed #ccc;
}

#submit_claim {
  margin-top: 1rem;
}

.close_field_form {
  cursor: pointer;
  float:right;
}

#hailloss .modal-dialog {
  max-width: 700px !important;
}