{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.min.css' %}" />
    <script src="{% static 'dashboard/js/jquery-3.2.1.min.js' %}"></script>

    {% block extendhead %}{% endblock extendhead %}
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'map' %}">
        <img src="{% static 'dashboard/gfx/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Hail Loss Pro
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'map' %}">Map</a>
          <a class="nav-item nav-link" href="{% url 'send_claim' %}">Send Claim</a>
          <a class="nav-item nav-link" href="{% url 'open_claims' %}">Open Claims</a>
          <a class="nav-item nav-link" href="{% url 'completed_claims' %}">Completed Claims</a>
          <a class="nav-item nav-link" href="{% url 'adjusters' %}">Adjusters</a>
        </div>
      </div>
    </nav>
    <div id="wrapper">
      {% block content %}{% endblock content %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    {% block extendfoot %}{% endblock extendfoot %}

  </body>
</html>
