{% extends 'dashboard/base.html' %}
{% load bootstrap_forms static %}

{% block extendhead %}
<link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-datepicker.standalone.css' %}" type="text/css" />
{% endblock extendhead %}

{% block content %}
<div class="container">
	<form action="" method="post">
	{% csrf_token %}
		<div class="row">
			<div class="col-sm-6">
				{% if form.errors %}
				    {% for field in form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
				    {% for error in form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
				{% endif %}
				<h3>Client info</h3>
				<label for="first_name">First name</label>
				{{ form.first_name }}
				<label for="last_name">Last name</label>
				{{ form.last_name }}
				<label for="phone">Phone</label>
				{{ form.phone }}
				<label for="addr_street_1">Address 1</label>
				{{ form.addr_street_1 }}
				<label for="addr_street_2">Address 2</label>
				{{ form.addr_street_2 }}
				<label for="city">City</label>
				{{ form.city }}
				<label for="postal_code">Postal code</label>
				{{ form.postal_code }}

				<h3>Claim info</h3>
				<label for="policy_no">Policy no.</label>
				{{ form.policy_no }}
				<label for="loss_no">Loss no.</label>
				{{ form.loss_no }}
				<label for="date_of_loss">Date of loss</label>
				{{ form.date_of_loss }}

				<h3><small>Adjuster(s):</small></h3>
				{{ form.assigned_adjuster }}
				<input id="submit_claim" type="submit" value="SUBMIT FORM" class="btn btn-primary"/>
			</div>
			<div class="col-sm-6">
				<h3>Damaged Fields</h3>
					<div id="fields-container" >

						<div class="field_fields">
							<div class="close_field_form">X</div>
							<label for="crop_type">Crop type</label>
							{{ field_form.type }}
							<br/>
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-6 smfield">
										<label for="acres">Acres</label>
										{{ field_form.acres }}
									</div>
									<div class="col-sm-6 smfield">
										<label for="quarter">Quarter</label>
										{{ field_form.quarter }}
									</div>
									<div class="col-sm-6 smfield">
										<label for="section">Section</label>
										{{ field_form.section }}
									</div>
									<div class="col-sm-6 smfield">
										<label for="township">Township</label>
										{{ field_form.township }}
									</div>
									<div class="col-sm-6 smfield">
										<label for="range_">Range</label>
										{{ field_form.range }}
									</div>
									<div class="col-sm-6 smfield">
										<label for="meridian">Meridian</label>
										{{ field_form.meridian }}
									</div>
								</div>
							</div>
					</div>
				</div>
				<input id="new_field_btn" type="button" value="Add new field" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</div>
{% endblock content %}

{% block extendfoot %}
<script src="{% static 'dashboard/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">

$(document).ready(function () {

	$('#id_date_of_loss').datepicker({
		format: "yyyy-mm-dd"
	});

	$(".close_field_form").on('click', function() {
		$(this).parent().remove();
	});

	var fields_form = $('.field_fields').clone()
	$("#new_field_btn").on('click', function() {
		f = fields_form.clone()
		$("#fields-container").append(f);

		f.find(".close_field_form").on('click', function() {
			$(this).parent().remove();
		});

	});

});
</script>
{% endblock extendfoot %}
